.homeContainer {
    display: flex;
    padding-top: 8vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 5vw;
}

.diaryContainer {
    width: 50%;
    height: 100%;
    margin: 5px;
}

.finContainer {
    width: 50%;
    height: 100%;
    margin: 5px;
    background-color: lightgreen;
}

.diaryHeader {
    display: flex;
    flex-direction: row;
}

.starsContainer {
    flex-grow: 1;
}

.changeContainer {
    position: relative;
    display: inline-block;
    flex-grow: 0;
    font-size: 20px;
    text-align: right;
    border-bottom: 1px dotted black;
    margin-bottom: 5px;
}

.changeDetails {
    visibility: hidden;
    background-color: black;
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
    padding: 5px 20px 5px 0px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.changeContainer:hover .changeDetails {
    visibility: visible;
}

.diaryEntry {
    width: 100%;
    height: 30vh;
}

.bulkEntry {
    width: 60vw;
    height: 50vh;
}

.diaryStars {
    width: 2vw;
}

.homeCalendar {
    width: 70vw;
}

.calendarHasEntry {
    background-color: lightgreen;
}

.react-calendar__tile--now {
    background-color: lightblue;
}

.react-calendar__tile--active {
    background-color: cyan;
}

.homePopupContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 150;
}

.homePopup {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    background-color: whitesmoke;
    border: 1px solid #383838;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}