.homeContainer {
    display: flex;
    padding-top: 8vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 5vw;
}

.diaryContainer {
    width: 50%;
    height: 100%;
    margin: 5px;
}

.finContainer {
    width: 50%;
    height: 100%;
    margin: 5px;
}

.diaryHeader {
    display: flex;
    flex-direction: row;
}

.finTagsContainer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.finTagsList {
    display: flex;
    flex-direction: row;
}

.finTagCreate {
    display: flex;
    flex-direction: row;
}

.finTag {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.finTagIcons {
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    padding: 3px;
}

.finTagName {
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.finTagName.selected {
    background-color: lightgreen;
}

.finTransactionList {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.finTransaction {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3px;
}

.finTransactionCreate {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.finTransactionChanged {
    color: orange;
}

.transactionHeader {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 0px 3px;
}

.transactionLocation {
    cursor: pointer;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transactionTagsList {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.transactionTag {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.transactionCost {
    cursor: pointer;
    flex-grow: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transactionCost.zero {
    color: red;
}

.transactionEditEntry {
    width: 100%;
}

.transactionEditDescription {
    width: 100%;
}

.buttonPicture {
    width: 30px;
}

.transactionIcons {
    flex-grow: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.transactionBody {
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

.starsContainer {
    flex-grow: 1;
}

.changeContainer {
    position: relative;
    display: inline-block;
    flex-grow: 0;
    font-size: 20px;
    text-align: right;
    border-bottom: 1px dotted black;
    margin-bottom: 5px;
}

.changeDetails {
    visibility: hidden;
    background-color: black;
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
    padding: 5px 20px 5px 0px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.changeContainer:hover .changeDetails {
    visibility: visible;
}

.diaryEntry {
    width: 100%;
    height: 30vh;
}

.bulkEntry {
    width: 60vw;
    height: 50vh;
}

.diaryStars {
    width: 2vw;
}

.homeCalendar {
    width: 70vw;
}

.calendarCell {
    padding: 0;
}

.rating0 {
    background-color: darkgrey;
}

.rating1 {
    background-color: #FF3300;
}

.rating2 {
    background-color: #ff6600;
}

.rating3 {
    background-color: #ff9900;
}

.rating4 {
    background-color: #FFCC00;
}

.rating5 {
    background-color: #FFFF00;
}

.rating6 {
    background-color: #ccff00;
}

.rating7 {
    background-color: #99ff00;
}

.rating8 {
    background-color: #66ff00;
}

.rating9 {
    background-color: #33ff00;
}

.rating10 {
    background-color: #00FF00;
}

.react-calendar__tile--now {
    border-color: magenta;
}

.react-calendar__tile--active {
    border-color: cyan;
}

.homePopupContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 150;
}

.homePopup {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    background-color: whitesmoke;
    border: 1px solid #383838;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}