.profileContainer {
    display: flex;
    padding-top: 8vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subContainer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.subTitle {
    display: flex;
    flex-direction: row;
}

.subTitleMain {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.subTitleSecondary {
    flex-grow: 0;
}

.subHeader {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 0px 3px;
}

.subLocation {
    cursor: pointer;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
}

.subTagsList {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.subTag {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.subCost {
    cursor: pointer;
    flex-grow: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subCost.zero {
    color: red;
}

.subEntry {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3px;
}

.subBody {
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

.subIcons {
    flex-grow: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subEditEntry {
    width: 100%;
}

.subEditDescription {
    width: 100%;
}

.subTimeFrame {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 5px;
    cursor: pointer;
}

.subTimeFrame.editing {
    cursor: default;
}

.subTimeStart.editing {
    cursor: pointer;
}

.subTimeEnd.editing {
    cursor: pointer;
}

.subTimeDash {
    margin: 0px 5px;
}

.goalContainer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.goalTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goalTitleMain {
    display: flex;
    flex-direction: row;
    width: 10px;
}

.goalTitleSecondary {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.goalHeader {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 0px 3px;
}

.goalName {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
}

.goalEntry {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3px;
}

.goalEntry.passed {
    background-color: lightgreen;
}

.goalEntry.failed {
    background-color: lightcoral;
}

.goalBody {
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

.goalIcons {
    flex-grow: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.goalEditEntry {
    width: 100%;
}

.goalEditDescription {
    width: 100%;
}

.selectContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 150;
}

.selectPopup {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    background-color: whitesmoke;
    border: 1px solid #383838;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.subChanged {
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

.goalChanged {
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

.chartDate {
    text-decoration: underline;
    margin: 0 5px;
    cursor: pointer;
}

.chartContainer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    margin-top: 10px;
}

.chartHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.chartBody {
    display: flex;
    flex-direction: row;
}

.chartPie {
    width: 40vw;
    /* height is intentionally in vw to keep it square */
    height: 40vw;
    padding: 5px;
}

.chartTotals {
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.chartTotalMain {
    margin-bottom: 30px;
    font-size: 30px;
}

.chartDetails {
    height: 70%;
    display: flex;
    flex-direction: row;
}

.chartHoverKey {
    color: green;
}

.chartPresetList {
    display: flex;
    flex-direction: row;
}

.chartPreset {
    cursor: pointer;
    margin: 0px 2px;
    border: 1px solid black;
    border-radius: 5px;
}

.chartTransactions {
    padding-left: 10px;
}